{% include 'header.twig' %}
<br>
<h2>Pievienot personu</h2>
<h4 class="error-message">{% if SESSION.memory.message is defined %}{{ SESSION.memory.message }}{% endif %}</h4>
<div class="add-person">
    <form method="post" action="/add/execute">
        <label for="code">Personas kods:</label>
        <input type="text" class="text-input" id="code" name="code"
               value="{% if SESSION.memory.code is defined %}{{ SESSION.memory.code }}{% endif %}"/>
        <br><br>
        <label for="name">V훮rds:</label>
        <input type="text" class="text-input" id="name" name="name"
               value="{% if SESSION.memory.name is defined %}{{ SESSION.memory.name }}{% endif %}"/>
        <br><br>
        <label for="surname">Uzv훮rds:</label>
        <input type="text" class="text-input" id="surname" name="surname"
               value="{% if SESSION.memory.surname is defined %}{{ SESSION.memory.surname }}{% endif %}"/>
        <br><br>
        <label for="gender">Dzimums:</label>
        <select class="add-person-gender" id="gender" name="gender">
            <option value=""></option>
            <option value="M"
                    {% if SESSION.memory.gender is defined and SESSION.memory.gender=='M' %}selected{% endif %}
            >v카rietis
            </option>
            <option value="F"
                    {% if SESSION.memory.gender is defined and SESSION.memory.gender=='F' %}selected{% endif %}>sieviete
            </option>
        </select>
        <br><br>
        <label for="address">Adrese:</label>
        <input type="text" class="text-input" id="address" name="address"
               value="{% if SESSION.memory.address is defined %}{{ SESSION.memory.address }}{% endif %}"/>
        <br><br>
        <label for="note">Piez카mes</label>
        <input type="text" class="text-input" id="note" name="note"
               value="{% if SESSION.memory.note is defined %}{{ SESSION.memory.note }}{% endif %}"/>
        <br><br>
        <p>
            <input type="submit" class="button-green" value="Pievienot">
        </p>
    </form>
</div>
{% include 'home-button.twig' %}
{% include 'footer.twig' %}